.dist
/src/__pycache__
venv/
ollama/*
!ollama/.gitkeep
*.gguf
*.ggml
stable-diffusion-webui/workspace/*
workspace/*
common_storage/*

node-red/workspace/*
!node-red/workspace/.gitkeep

deep-stack/pytorch-models/*
!deep-stack/pytorch-models/.gitkeep

deep-stack/localstorage/*
!deep-stack/localstorage/.gitkeep